.hidden {
  display: none !important;
  visibility: hidden !important;
}

.woocommerce .tawcvs-swatches {
  padding: 5px;
  display: inline-flex !important;
  flex-wrap: wrap;
}
.woocommerce .tawcvs-swatches .swatch,
.woocommerce .tawcvs-swatches .swatch-show-more {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 30px !important;
  height: 30px !important;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  margin: 0 10px;
  padding: 2px 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.woocommerce .tawcvs-swatches .swatch.swatch-label,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-label {
  min-width: max-content;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-circle,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-circle {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-circle img,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-circle img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-circle:before,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-circle:before {
  border-radius: 50%;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-rounded,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-rounded img,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-rounded img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-rounded:before,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-rounded:before {
  border-radius: 8px;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-edge,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-edge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-edge img,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-edge img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.woocommerce .tawcvs-swatches .swatch.swatch-shape-edge:before,
.woocommerce .tawcvs-swatches .swatch-show-more.swatch-shape-edge:before {
  border-radius: 0;
}
.woocommerce .tawcvs-swatches .swatch.disabled,
.woocommerce .tawcvs-swatches .swatch-show-more.disabled {
  cursor: default;
  opacity: 0.4 !important;
}
.woocommerce .tawcvs-swatches .swatch.disabled .swatch__tooltip,
.woocommerce .tawcvs-swatches .swatch-show-more.disabled .swatch__tooltip {
  display: none;
}
.woocommerce .tawcvs-swatches .swatch:first-child,
.woocommerce .tawcvs-swatches .swatch-show-more:first-child {
  margin-left: 0;
}
.woocommerce .tawcvs-swatches .swatch:last-child,
.woocommerce .tawcvs-swatches .swatch-show-more:last-child {
  margin-right: 0;
}
.woocommerce .tawcvs-swatches .swatch:before,
.woocommerce .tawcvs-swatches .swatch-show-more:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid #ddd;
}
.woocommerce .tawcvs-swatches .swatch.selected:before,
.woocommerce .tawcvs-swatches .swatch-show-more.selected:before {
  border-color: #674399;
}
.woocommerce .tawcvs-swatches .swatch.selected.swatch-label,
.woocommerce .tawcvs-swatches .swatch-show-more.selected.swatch-label {
  border-bottom: none !important;
}
.woocommerce .tawcvs-swatches .swatch-color {
  text-indent: -9999em;
  border: 2px solid #ccc;
}
.woocommerce .tawcvs-swatches .swatch-color.selected {
  border-color: #333;
}
.woocommerce .tawcvs-swatches .swatch-color.selected:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  width: 6px;
  height: 10px;
  display: block;
  border: solid #eee;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2px -2px 0 0;
}
.woocommerce .tawcvs-swatches .swatch-label {
  font-size: 14px;
  background-color: #f1f1f1;
}
.woocommerce .tawcvs-swatches .swatch-image {
  font-size: 0;
}
.woocommerce .tawcvs-swatches .swatch-image .swatch__tooltip {
  font-size: 14px;
}
.woocommerce .tawcvs-swatches .swatch__tooltip {
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 0;
  background: #333;
  z-index: 2;
  color: #fff;
  margin: -15px 0 0 0;
  padding: 5px 10px;
  text-indent: initial;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  display: inline-block;
  word-break: break-all;
  white-space: normal;
  min-width: max-content;
}
.woocommerce .tawcvs-swatches .swatch__tooltip:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #333;
  bottom: -4px;
  left: 50%;
  margin-left: -6px;
}
.woocommerce .tawcvs-swatches .swatch-item-wrapper {
  position: relative;
}
.woocommerce .tawcvs-swatches .swatch:hover + .swatch__tooltip {
  opacity: 1;
  visibility: visible;
  user-select: auto;
}
.woocommerce .tawcvs-swatches.oss-blur-with-cross .swatch.disabled {
  position: relative;
  background: #33333357;
}
.woocommerce .tawcvs-swatches.oss-blur-with-cross .swatch.disabled img {
  opacity: 0.5;
}
.woocommerce .tawcvs-swatches.oss-blur-with-cross .swatch.disabled:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), black 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
}
.woocommerce .tawcvs-swatches.oss-blur-with-cross .swatch.disabled.swatch-shape-circle:after {
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
}
.woocommerce .tawcvs-swatches.oss-blur-with-cross .swatch.disabled.swatch-shape-rounded:after {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
.woocommerce .tawcvs-swatches.oss-hide .swatch.disabled {
  display: none;
}

.swatch-align-left .variations td {
  text-align: left;
}
.swatch-align-left .variations td img, .swatch-align-left .variations td select {
  text-align: left;
}

.swatch-align-center .variations td {
  text-align: center;
}
.swatch-align-center .variations td img, .swatch-align-center .variations td select {
  text-align: center;
}

.related.products .swatch-align-center .variations td.label {
  display: none;
}

.swatch-align-right .variations td, .swatch-align-right .variations img, .swatch-align-right .variations td select {
  text-align: right;
}

.variations .reset_variations {
  display: none;
}

/**
 * Custom CSS for the Sober theme
 */
.woocommerce.theme-sober div.product form.cart.swatches-support .variations .variable {
  width: 90%;
}
.woocommerce.theme-sober div.product form.cart.swatches-support .tawcvs-swatches .swatch-item-wrapper {
  flex-basis: 33.333%;
}
.woocommerce.theme-sober div.product form.cart.swatches-support .tawcvs-swatches .swatch-item-wrapper .swatch-image {
  width: 95%;
  height: auto;
  text-align: center;
}
@media (max-width: 1200px) {
  .woocommerce.theme-sober div.product form.cart.swatches-support .tawcvs-swatches .swatch-item-wrapper {
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  .woocommerce.theme-sober div.product form.cart.swatches-support .tawcvs-swatches .swatch-item-wrapper {
    flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  .woocommerce.theme-sober div.product form.cart.swatches-support .tawcvs-swatches .swatch-item-wrapper {
    flex-basis: 33.333%;
  }
}

/*# sourceMappingURL=frontend.css.map */
